<header>
    <app-header></app-header>

    <!-- Heading -->
    <div class="bg-primary">
        <div class="container py-4">
            <!-- Breadcrumb -->
            <nav class="d-flex">
              <h6 class="mb-0">
                  <a class="text-white-50">Home</a>
                  <span class="text-white-50 mx-2"> > </span>
                  <a class="text-white">2. Shopping cart</a>
                  <span class="text-white-50 mx-2"> > </span>
                  <a class="text-white-50">3. Order info</a>
                  <span class="text-white-50 mx-2"> > </span>
                  <a class="text-white-50">4. Payment</a>
              </h6>
            </nav>
            <!-- Breadcrumb -->
        </div>
        </div>
    <!-- Heading -->
</header>
  
  <!-- cart + summary -->
  <section class="bg-light my-5">
    <div class="container">
      <div class="row">
        <!-- cart -->
        <div class="col-lg-12">
          <div class="card border shadow-0">
            <div class="m-4">
              <h4 class="card-title mb-4">Your shopping cart</h4>
              <div class="row gy-3 mb-4" *ngFor="let cartItem of cartArray" >
                <div class="col-lg-5">
                  <div class="me-lg-5">
                    <div class="d-flex" >
                      <img src="../../../../assets/model2.png" class="border rounded me-3" style="width: 96px; height: 96px;" />
                      <div class="">
                        <h3 class="nav-link">{{cartItem.title}}</h3>
                        <p class="text-muted">{{cartItem.category}}</p>

                        <p class="text-muted">Variation: {{cartItem.size}} {{cartItem.color}} {{cartItem.design}}</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-2 col-sm-6 col-4 d-flex flex-row flex-lg-column flex-xl-row text-nowrap">
                 
                  <div class="">
                    <a class="nav-link">PHP{{cartItem.price}}</a>
                    <a class="nav-link">You can adjust the quantity on the Checkout</a>

                    
                  </div>
                </div>

                <div class="col-lg col-sm-6 d-flex justify-content-sm-center justify-content-md-start justify-content-lg-center justify-content-xl-end mb-2">
                    <div class="float-md-end">
                      <button class="btn btn-light border text-success icon-hover-success" (click)="checkout(cartItem._id)">Checkout</button>
                      <a class="btn btn-light border text-danger icon-hover-danger"> Remove</a>
                    </div>
                </div>

              </div>
  
  

            </div>
  
            <div class="border-top pt-4 mx-4 mb-4">
              <p><i class="fa fa-truck text-muted fa-lg"></i> The delivery time is within 1-2 days to a week</p>
              <p class="text-muted">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip
              </p>
            </div>
          </div>
        </div>
        <!-- cart -->
      </div>
    </div>
  </section>
  <!-- cart + summary -->
 