<header>
    <div class= "HeaderContainer navbar navbar-expand-lg">
        <div class="BrandTitle container-fluid col-4">
            <a class="navbar-brand" routerLink="/home">Gimmie Five</a>
        </div>

        <div class="BrandLinks container-fluid col-7">
            <a class="nav-link" routerLink="/create-product">Create</a>
            <a class="nav-link" routerLink="/product-list">Product List</a>            
            <a class="nav-link" routerLink="/complete">Complete</a>
            <a class="nav-link" routerLink="/pending">Pending</a>
            <a class="nav-link" routerLink="/cancelled">Cancelled</a>
            <button class="nav-link" >Logout</button>
         
        </div>
    </div>
</header>